/* ======================================================
RESET
=========================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ======================================================
CSS VARIABLES
=========================================================*/
:root {
    /* Font Colors */
    --primary-font-color: #fcfcfc;
    --search-bg-color: #EBEBEB;
    --description-font: #E4E4E7;
    --footer-bg-color: #061232;
    --form-hover-color: #303133;
    --footer-link-color: #D6D6D6;
    --logo-hover-color: #919296;

    /* Opacity */
    --text-opacity: 80%;
}

/* ======================================================
BASE STYLES
=========================================================*/
body {
    line-height: 1.6;
    font-family: Inter, sans-serif;
    background-image: linear-gradient(90deg, #0B2265 30%, #0D2673 60%, #0B2265 85%);
    color: var(--primary-font-color);
}

button:hover {
    cursor: pointer;
}

input {
    font-family: inherit;
    appearance: none;
}

img {
    max-width: 100%;
    display: block;
}

ul, li {
   list-style-type: none; 
}

li {
    margin: 0;
    padding: 0;
}

/* ======================================================
TYPGRAPHY
=========================================================*/
h1, h2 {
    font-weight: 700;
    letter-spacing: 1px;
    opacity: var(--text-opacity);
    text-align: center;
    text-transform: capitalize;
    line-height: 1.3;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
    margin-bottom: 0.3em;
}



/* ======================================================
LAYOUT
=========================================================*/
/* ------ HEADER -------- */
header {
    margin-bottom: 0.5em;
}

.header-logo-container {
    display: flex;
    align-items: center;
    margin: 0.25em 0 0 0.25em;
    gap: 0.25em;
    background-color: transparent;
    border: none;
    color: inherit;
    transition: color 0.3s;
}

.header-logo-container:focus,
.header-logo-container:hover {
    color: var(--logo-hover-color);
}

.weather-logo {
    font-size: 1.4rem;
    font-weight: 700;
}

/* ----- WEATHER FORM ------------- */

.form-container {
    display: flex;
    background-color: var(--search-bg-color);
    width: 90%;
    max-width: 425px;
    margin: 0 auto;
    min-height: 35px;
    border-radius: 6px;
}

.form-input {
    width: 90%;
    padding: 0.4em;
}


.form-input,
.form-button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.form-input:focus,
.form-button:focus {
    border: none;
    outline: none;
}

.form-button {
    width: 10%;
    border-radius: 6px;
}

.form-button:hover,
.form-button:focus {
    background-color: var(--form-hover-color);
}

/* ---------- DESCRIPTION -----------*/
.intro-container {
    max-width: 800px;
    width: 95%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.intro-description {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--description-font);
    opacity: var(--text-opacity);
    text-align: center;
    margin: auto;
}


/* ---------- WEATHER DATA -----------*/
.weather-data-container {
    width: 98%;
    margin: 1em auto;
    line-height: 1.2;
}

.weather-data-img {
    width: 7%;
    min-width: 50px;
    margin: 0 auto;;
}

.weather-data-temperature {
    font-size: 2.5rem;
    text-align: center;
}

.temperature-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.weather-data-condition {
    text-align: center;
    opacity: var(--text-opacity);
    margin-bottom: 1.5em;
}

.weather-data-stats {
    display: grid;
    grid-template-columns: 1fr;
    width: 85%;
    max-width: 400px;
    margin: 0 auto;
    row-gap: 0.5em;
    margin-bottom: 2em;
}

.weather-data-stats-item {
    display: flex;
    border-bottom: 1px solid var(--primary-font-color);
    width: 100%;
    justify-content: space-between;
    font-size: 1.1rem;
    gap: 1em;
}

/* Unit System Button Container */
.button-container-unit-system {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-bottom: 2em;
}

.btn-unit {
    background-color: transparent;
    border: 1px solid var(--primary-font-color);
    color: var(--primary-font-color);
    padding: 0.5em 1em;
    border-radius: 8px;
    opacity: 1;
}


.btn-unit:disabled {
    opacity: 0.6;
}

/* ---------- HOURLY FORECAST ----------- */
.hourly-forecast-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em;
    margin-bottom: 2em;
    max-width: 1000px;
    margin: 0 auto 2em auto;
    text-align: center;
}

.hourly-forecast-list-item-img {
    margin: 0 auto 0.1em auto;
    width: 2%;
    min-width: 50px;
}

.hourly-forecast-list-item-temp, .hourly-forecast-list-item-time {
    font-size: 1.2rem;
} 

/* ---------- 7 DAY FORECAST ----------- */
.daily-forecast-table {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.date-column, .temperature-column, .description-column, .precipitation-column {
    text-align: center;
}

.date-column {
    width: 8%;
}

.temperature-column {
    width: 20%;
}

.description-column {
    width: 15%;
}

.precipitation-column {
    width: 10%;
}

.weather-table-icon{
    margin: 0 auto;
    width: 20%;
    max-width: 75px;
    min-width: 50px;
}

.high-temperature-container::after {
    content: "/";
    display: inline;
}



/* --------- FOOTER -------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.2;
}

.footer-container {
    width: 94%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 0.6em;
}

.flaticon-credit {
    font-size: 1.1rem;
    opacity: var(--text-opacity);
    padding: 0.5em;
}

.flaticon-credit > a {
    font-weight: 700;
    color: var(--footer-link-color);
    border-bottom: var(--form-link-color);
    transition: color 0.3s opacity 0.3s;
}

.flaticon-credit > a:hover {
    color: var(--primary-font-color);
    opacity: 1;
}

.footer-copyright {
    font-size: 0.8rem;
    text-align: center;
    opacity: var(--text-opacity);
}



/* ======================================================
UTILITIES
=========================================================*/
.hidden {
    display: none;
}

.visible {
    display: block;
}

.static {
    position: static;
}

/* ======================================================
MEDIA QUERIES
=========================================================*/

/* -------SMALLER TABLETS */
@media (min-width: 650px) {
    .hourly-forecast-list {
        grid-template-columns: repeat(6, 1fr);
    }
    .daily-forecast-table {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 18px;
    }
}